@media screen and (max-width:1602px){
    #background{
        height:730px;
    }
    .servicesBlock p{
        font-size:16px;
        text-align: justify;
    }
    .skillsBlock{
        height: 280px;
    }
    .projectsBlock a span p{
        font-size: 18px;
    }
    .projectsBlock{
        height:282px;
    }
    img[src="assets/img/beehouse.png"]{
        width:100%;
        height:200px;
    }
    img[src="assets/img/portfolio.png"]{
        width:100%;
        height:200px;
    }
    img[src="assets/img/free-css.png"]{
        width:100%;
        height:200px;
    }
    #desc{
        margin-left: 20px;
        height: 330px;
    }
    #desc p{
        font-size: 18px;
    }
    img[src="assets/img/tsmn.jpg"]{
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
    img[src="assets/img/ict.png"]{
        width:70px;
        height:70px;
    }
    #skills1{
        margin-top: 12px;
    }
    #skills2{
        margin-top: 1px;
    }
    #skills3{
        margin-top: 24px;
    }
    #skills4{
        margin-top: 26px;
    }
    #skills5{
        margin-top: 14px;
    }
    img[src="assets/img/html5.png"]{
        width:175px;
        height: 175px;
    }
    img[src="assets/img/CSS3.png"]{
        width: 112px;
        height: 153px;
    }
    img[src="assets/img/bootstrap.png"]{
        width:117px;
        height: 117px;
    }
    img[src="assets/img/sass.png"]{
        width: 116px;
        height: 115px;
    }
    img[src="assets/img/cpp.png"]{
        width: 131px;
        height: 130px;
    }
    img[src="assets/img/css_progress.png"],img[src="assets/img/html_progress.png"],img[src="assets/img/sass_progress.png"], img[src="assets/img/cpp_progress.png"], img[src="assets/img/bootstrap_progress.png"]{
        width: 150px;
        height: 15px;
    }
    #photo{
        margin-left: 0.5%;
    }
    #tablet{
        width: 891px;
        height: 626.72px;
    }
    textarea{
        height:40px;
        margin-top: 15px;
    }
    #map iframe{
        width:330px;
        height: 430px;
    }
    th{
        font-size:22px;
    }
    #form{
        padding-top:20px;
    }
    #tabletRegion{
        padding: 7% 2%;
    }
    h2{
        font-size:32px;
        margin-bottom: 25px;
    }
}
@media screen and (max-width:1442px){
    #background{
        height:730px;
    }
    #skillsBlock{
        height:200px;
    }
    img[src="assets/img/html5.png"]{
        width:160px;
        height: 160px;
    }
    img[src="assets/img/CSS3.png"]{
        width: 97px;
        height: 138px;
    }
    img[src="assets/img/bootstrap.png"]{
        width:102px;
        height: 102px;
    }
    img[src="assets/img/sass.png"]{
        width: 101px;
        height: 100px;
    }
    img[src="assets/img/cpp.png"]{
        width: 116px;
        height: 115px;
    }
    img[src="assets/img/css_progress.png"],img[src="assets/img/html_progress.png"],img[src="assets/img/sass_progress.png"], img[src="assets/img/cpp_progress.png"], img[src="assets/img/bootstrap_progress.png"]{
        width: 130px;
        height: 15px;
    }
    img[src="assets/img/beehouse.png"]{
        width:100%;
        height:200px;
    }
    img[src="assets/img/portfolio.png"]{
        width:100%;
        height:200px;
    }
    img[src="assets/img/free-css.png"]{
        width:100%;
        height:200px;
    }
    .projectsBlock a span p{
        font-size: 14px;
    }
    .projectsBlock a span h3{
        font-size: 20px;
    }
    #desc p{
        font-size:18px;
        margin-bottom: 5px;
    }
    img[src="assets/img/tsmn.jpg"]{
        width: 65px;
        height: 65px;
        margin-right: 20px;
    }
    img[src="assets/img/ict.png"]{
        width:70px;
        height:70px;
    }
    #schools{
        width: 36%;
        padding: 0% 32%;
    }
    #contactRegion{
        width:80%;
        padding: 2% 5.5%;
        padding-top: 0%;
    }
    h2{
        margin-bottom: 25px;
    }
    .skillsBlock{
        height: 250px;
    }
    img[src="assets/img/about.png"]{
        width: 400px;
        height: 400px;
    }
    .projectsBlock{
        height: 275px;
    }
    #photo{
        margin-left: 0.5%;
    }
    #tablet{
        width: 891px;
        height: 595.72px;
    }
    #map iframe{
        width:290px;
        height: 330px;
    }
    input[type="text"],input[type="email"], textarea{
        width:240px;
        padding: 1%;
    }
    td{
        font-size:14px;
    }

}
@media screen and (max-width:1242px){
    .skillsBlock{
        height: 220px;
    }
    img[src="assets/img/html5.png"]{
        width:130px;
        height: 130px;
    }
    img[src="assets/img/CSS3.png"]{
        width: 77px;
        height: 108px;
    }
    img[src="assets/img/bootstrap.png"]{
        width:72px;
        height: 72px;
    }
    img[src="assets/img/sass.png"]{
        width: 71px;
        height: 70px;
    }
    img[src="assets/img/cpp.png"]{
        width: 86px;
        height: 85px;
    }
    img[src="assets/img/tsmn.jpg"]{
        width: 58px;
        height: 58px;
    }
    img[src="assets/img/ict.png"]{
        width: 60px;
        height: 60px;
    }
    img[src="assets/img/about.png"]{
        width: 380px;
        height: 350px;
    }
    #desc p{
        font-size: 16px;
    }
}
@media screen and (max-width:1052px){
    #desc{
        height: 230px;
        margin-right: 0.5%;
        padding-top: 15px;
    }
    #desc p{
        font-size: 14px;
    }
    img[src="assets/img/about.png"]{
        width:300px;
        height:285px;
    }
    img[src="assets/img/tsmn.jpg"]{
        width: 42px;
        height: 42px;
        margin-top: 10px;
    }
    img[src="assets/img/ict.png"]{
        width: 42px;
        height: 42px;
        margin-top: 10px;
    }
    #tablet img{
        width: 0%;
    }
    img[src="assets/img/beehouse.png"] {
        height: 140px;
    }
    img[src="assets/img/portfolio.png"]{
        height:140px;
    }
    img[src="assets/img/free-css.png"]{
        height:140px;
    }
    .servicesBlock p{
        font-size: 14px;
    }
    .servicesBlock h3{
        font-size:20px;
    }
    img[src="assets/img/css_progress.png"],img[src="assets/img/html_progress.png"],img[src="assets/img/sass_progress.png"], img[src="assets/img/cpp_progress.png"], img[src="assets/img/bootstrap_progress.png"]{
        width: 110px;
        height: 12px;
    }
    .projectsRegion{
        padding: 0% 4%;
    }
    .projectsBlock {
        height: 202px;
    }
    .projectsBlock a span p{
        font-size: 12px;
    }
    .projectsBlock a span h3{
        font-size:18px;
    }
    p{ 
        font-size: 18px;
        text-align: center;
    }
    img[src="assets/img/html5.png"]{
        width: 110px;
        height: 110px;
    }
    img[src="assets/img/CSS3.png"] {
        width: 67px;
        height: 92px;
        margin-bottom: 17px;
    }
    img[src="assets/img/bootstrap.png"] {
        margin-top: 35px;
        margin-bottom: 10px;
        width: 61px;
        height: 60px;
    }
    img[src="assets/img/sass.png"]{
        width: 61px;
        height: 60px;
        margin-top: 35px;
    }
    img[src="assets/img/cpp.png"]{
        width: 76px;
        height: 75px;
        margin-top: 22px;
    }
    .servicesBlock p{
        text-align: left;
    }
    .skillsBlock{
        width:20%;
        height: 195px;
    }
    #skills1{
        margin-top: 2px;
    }
    #skills2{
        margin-top: -9px;
    }
    #skills3{
        margin-top: 6px;
    }
    #skills4{
        margin-top: 16px;
    }
    #skills5{
        margin-top: 14px;
    }
    footer{
        width: 68%;
        padding:1% 16%;
        height: 80px;
    }
    footer p,footer h3{
        font-size:18px;
        text-align: center;
    }
    #social{
        width: 40%;
    }
    #social i{
        font-size:28px;
        color:var(--darkred);
    }
    #tabletRegion{
        padding: 0% 0%;
    }
    #tablet{
        background-image: none;
    }
    #form{
        width:90%;
        margin-bottom: 20px;
    }
    #form th{
        display: none;
    }
    #map{
        width: 90%;
    }
}
@media screen and (max-width:877px){
    .skillsBlock{
        
    }
}