@import "https://fonts.googleapis.com/css2?family=Jura&display=swap";
@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-25%);
		transform: translateX(-25%);
	}
	100% {
		-webkit-transform: translateX(25%);
		transform: translateX(25%);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-25%);
		transform: translateX(-25%);
	}
	100% {
		-webkit-transform: translateX(25%);
		transform: translateX(25%);
	}
}
/*# sourceMappingURL=style.css.map */
* {
	margin: 0%;
	padding: 0%;
	scroll-behavior: smooth;
	font-family: 'Jura', sans-serif;
	overflow-x: hidden;
}
h1 {
	font-size: 42px;
	border-bottom: 2px solid;
	-o-border-image: linear-gradient(to right, #a81919, #8E0019) 100% 0;
	border-image: -webkit-gradient(linear, left top, right top, from(#a81919), to(#8E0019)) 100% 0;
	border-image: linear-gradient(to right, #a81919, #8E0019) 100% 0;
	padding-bottom: 10px;
	font-weight: 500;
}
h2 {
	font-size: 36px;
	margin-bottom: 50px;
	color: #b9b6b6;
	font-weight: 300;
	&::before {
		display: block;
		content: " ";
		margin-top: -50px;
		height: 100px;
		visibility: hidden;
		pointer-events: none;
	}
}
h3 {
	color: #8E0019;
	font-size: 20px;
}
p {
	font-size: 22px;
	font-weight: 500;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.flex-wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
#container {
	width: 80%;
	margin: 0px auto;
}
.jc {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.jc-start {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.jc-space {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.align-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100px;
	border-bottom: 1px solid #fff;
}
.capital {
	color: #B80022;
}
.margin-top-10 {
	margin-top: 10px;
}
.saturation {
	-webkit-filter: saturate(0.1);
	filter: saturate(0.1);
	-webkit-transition: -webkit-filter 0.6s;
	transition: -webkit-filter 0.6s;
	transition: filter 0.6s;
	transition: filter 0.6s, -webkit-filter 0.6s;
	-webkit-transition: filter 0.6s;
	-moz-transition: filter 0.6s;
	-ms-transition: filter 0.6s;
	-o-transition: filter 0.6s;
	-webkit-filter: saturate(0.1%);
	&:hover {
		filter: saturate(1);
		-webkit-filter: saturate(1);
	}
}
.red {
	color: #B80022;
}
header {
	width: 100%;
	height: 58px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(3%, #494647), color-stop(61%, #3a3938), color-stop(96%, #535052), to(#535052));
	background: linear-gradient(to top, #494647 3%, #3a3938 61%, #535052 96%, #535052 100%);
	position: fixed;
	z-index: 1;
	text-align: center;
	nav {
		ul {
			margin-top: 0px;
			li {
				margin: 0px 10px;
				padding-bottom: 1px;
				border-bottom: 3px solid rgba(142, 0, 25, 0);
				border-radius: 5px;
				transition: 0.2s;
				-webkit-transition: 0.2s;
				-moz-transition: 0.2s;
				-ms-transition: 0.2s;
				-o-transition: 0.2s;
				&:hover {
					border-bottom: 3px solid #8e0019;
				}
				a {
					color: #cdcbcb;
					font-size: 19px;
					font-family: 'Jura', sans-serif;
				}
			}
		}
	}
}
.mobNav {
	display: none;
}
img[src="assets/logo.png"] {
	height: 47px;
	width: 47px;
}
#logo {
	border: 3px rgba(0, 0, 0, 0) solid;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	&:hover {
		border: 3px inset #686466;
	}
}
main {
	width: 100%;
	padding-top: 2.6%;
}
.bg {
	-webkit-animation: slide 3s ease-in-out infinite alternate;
	animation: slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, #cdcbcb 50%, #3E3C3D 50%);
	bottom: 0;
	left: -50%;
	opacity: 0.45;
	position: fixed;
	right: -50%;
	top: 0;
	z-index: -1;
}
.bg2 {
	animation-direction: alternate-reverse;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
}
.bg3 {
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
}
.content {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	left: 50%;
	padding: 94.1px;
	position: fixed;
	text-align: center;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
#home {
	width: inherit;
}
#background {
	background: url("../img/bg.png");
	background-size: cover;
	height: 900px;
	width: inherit;
}
#desc-block {
	padding: 3% 7%;
	padding-bottom: 1.2%;
	margin-left: 40%;
	-webkit-box-shadow: 4px 12px 10px #686466;
	box-shadow: 4px 12px 10px #686466;
	border-radius: 10px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-image: radial-gradient(#3E3C3D 40%, #3E3C3D 60%, #343232 95%);
	h1 {
		color: #ada5a5;
		margin-top: 5px;
	}
	p {
		color: #ada5a5;
		margin-top: 5px;
		font-size: 32px;
	}
}
#button {
	text-align: center;
	background-color: #343232;
	padding: 10px;
	margin-top: 20%;
	border: 1px outset #cdcbcb;
	border-radius: 5px;
	text-transform: uppercase;
	color: #cdcbcb;
	font-weight: 500;
	font-size: 16px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	&:hover {
		background-color: #cdcbcb;
		color: #343232;
	}
}
#services {
	width: 96%;
	padding: 3% 2%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(52, 50, 50, 0.8)), to(rgba(52, 50, 50, 0.8)));
	background-image: linear-gradient(to bottom, rgba(52, 50, 50, 0.8), rgba(52, 50, 50, 0.8));
}
#servicesRegion {
	width: 80%;
	padding: 3% 5%;
	padding-top: 0px;
	background-color: rgba(52, 50, 50, 0.99);
	border: 6px ridge #cdcbcb;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
}
.servicesBlock {
	background-color: #343232;
	width: 21.694%;
	height: 280px;
	border-radius: 20px;
	background-image: radial-gradient(#343232 70%, #333333 85%);
	-webkit-box-shadow: 0px 0px 27px #3E3C3D;
	box-shadow: 0px 0px 27px #3E3C3D;
	margin: 25px;
	padding: 0% 2%;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	&:hover {
		-webkit-box-shadow: 0px 0px 35px rgba(255, 0, 0, 0.25);
		box-shadow: 0px 0px 35px rgba(255, 0, 0, 0.25);
	}
	p {
		color: #cdcbcb;
		font-size: 16px;
	}
	h3 {
		color: #cdcbcb;
		text-align: center;
	}
}
.fa-code {
	font-size: 80px;
	color: #8E0019;
}
.fa-chart-bar {
	font-size: 80px;
	color: #8E0019;
}
.fa-laptop-code {
	font-size: 80px;
	color: #8E0019;
}
.icons {
	height: 100px;
	width: 100%;
}
.stext {
	height: 120px;
}
#skills {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(52, 50, 50, 0.8)), to(rgba(52, 50, 50, 0.8)));
	background-image: linear-gradient(to bottom, rgba(52, 50, 50, 0.8), rgba(52, 50, 50, 0.8));
	padding: 0% 2%;
	padding-bottom: 3%;
}
#skillsRegion {
	width: 80%;
	padding: 4% 5%;
	padding-top: 0px;
	background-color: rgba(52, 50, 50, 0.99);
	border: 6px ridge #cdcbcb;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
}
.skillsBlock {
	width: 13.741%;
	height: 305px;
	border-radius: 15px;
	margin: 2%;
	padding: 1%;
	padding-bottom: 0%;
	-webkit-box-shadow: 0px 0px 25px #3E3C3D;
	box-shadow: 0px 0px 25px #3E3C3D;
	background-color: #333232;
	transition: box-shadow .3s,-webkit-box-shadow .3s;
	&:hover {
		-webkit-box-shadow: 1px 1px 35px rgba(255, 0, 0, 0.25);
		box-shadow: 1px 1px 35px rgba(255, 0, 0, 0.25);
	}
}
section {
	span {
		p {
			margin-bottom: 10px;
			color: #cdcbcb;
		}
	}
}
img[src="assets/img/html5.png"] {
	width: 200px;
	height: 200px;
}
img[src="assets/img/CSS3.png"] {
	width: 127px;
	height: 178px;
	margin-top: 13px;
	margin-bottom: 20px;
}
img[src="assets/img/bootstrap.png"] {
	margin-top: 45px;
	width: 142px;
	height: 142px;
}
img[src="assets/img/sass.png"] {
	margin-top: 45px;
	width: 141px;
	height: 140px;
}
img[src="assets/img/cpp.png"] {
	margin-top: 42px;
	width: 156px;
	height: 155px;
}
img[src="assets/img/sass_progress.png"] {
	width: 178px;
	height: 18px;
}
img[src="assets/img/cpp_progress.png"] {
	width: 178px;
	height: 18px;
}
img[src="assets/img/bootstrap_progress.png"] {
	width: 178px;
	height: 18px;
}
img[src="assets/img/css_progress.png"] {
	width: 178px;
	height: 18px;
}
img[src="assets/img/html_progress.png"] {
	width: 178px;
	height: 18px;
}
img[src="assets/img/tsmn.jpg"] {
	width: 65px;
	height: 65px;
}
img[src="assets/img/ict.png"] {
	width: 75px;
	height: 75px;
}
#skills1 {
	margin-top: 10px;
}
#skills2 {
	margin-top: -2px;
}
#skills3 {
	margin-top: 21px;
}
#skills4 {
	margin-top: 23px;
}
#skills5 {
	margin-top: 11px;
}
#projects {
	width: 96%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(52, 50, 50, 0.8)), to(rgba(52, 50, 50, 0.8)));
	background-image: linear-gradient(to bottom, rgba(52, 50, 50, 0.8), rgba(52, 50, 50, 0.8));
	padding: 2%;
	padding-top: 0%;
}
#projectsRegion {
	width: 80%;
	padding: 4% 5%;
	padding-top: 0px;
	background-color: rgba(52, 50, 50, 0.99);
	border: 6px ridge #cdcbcb;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
}
.projectsBlock {
	background-color: #343232;
	width: 28.694%;
	height: 325px;
	border-radius: 20px;
	background-image: radial-gradient(#343232 60%, #333333 85%);
	-webkit-box-shadow: 0px 0px 25px #3E3C3D;
	box-shadow: 0px 0px 25px #3E3C3D;
	margin: 2%;
	transition: box-shadow .3s,-webkit-box-shadow .3s;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-webkit-transition: box-shadow .3s,-webkit-box-shadow .3s;
	-moz-transition: box-shadow .3s,-webkit-box-shadow .3s;
	-ms-transition: box-shadow .3s,-webkit-box-shadow .3s;
	-o-transition: box-shadow .3s,-webkit-box-shadow .3s;
	&:hover {
		-webkit-box-shadow: 0px 0px 35px rgba(255, 0, 0, 0.25);
		box-shadow: 0px 0px 35px rgba(255, 0, 0, 0.25);
	}
	a {
		span {
			p {
				font-size: 20px;
				color: #cdcbcb;
				text-align: center;
			}
			h3 {
				text-align: center;
			}
		}
	}
}
img[src="assets/img/beehouse.png"] {
	width: 100%;
	height: 240px;
}
img[src="assets/img/portfolio.png"] {
	width: 100%;
	height: 240px;
}
img[src="assets/img/free-css.png"] {
	width: 100%;
	height: 240px;
}
#about {
	width: 87%;
	padding: 3% 6.5%;
	padding-top: 0%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(52, 50, 50, 0.8)), to(rgba(52, 50, 50, 0.8)));
	background-image: linear-gradient(to bottom, rgba(52, 50, 50, 0.8), rgba(52, 50, 50, 0.8));
}
#aboutRegion {
	width: 86%;
	padding: 5% 7%;
	padding-top: 0px;
	background-color: rgba(52, 50, 50, 0.99);
	border: 6px ridge #cdcbcb;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
}
#photo {
	border-radius: 42px;
	border: 8px ridge #ebebeb;
	filter: saturate(0.3);
	-webkit-filter: saturate(0.3);
	margin-left: 6.5%;
}
img[src="assets/img/about.png"] {
	width: 400px;
	height: 400px;
}
#desc {
	width: 50%;
	height: 325px;
	padding: 20px;
	padding-top: 35px;
	margin-right: 20px;
	border-radius: 30px;
	background-image: radial-gradient(#343232 70%, #333333 85%);
	margin-right: 6.5%;
	-webkit-box-shadow: 0px 0px 27px #3E3C3D;
	box-shadow: 0px 0px 27px #3E3C3D;
	p {
		font-size: 21px;
		text-align: justify;
		color: #cdcbcb;
		margin-bottom: 10px;
	}
}
#schools {
	width: 30%;
	padding: 0% 35%;
	img {
		-webkit-transition: 0.3s;
		transition: 0.3s;
		-webkit-filter: saturate(0.1);
		filter: saturate(0.1);
		border-radius: 30px;
		&:hover {
			filter: saturate(1);
			-webkit-filter: saturate(1);
		}
	}
}
#contact {
	background-color: rgba(52, 50, 50, 0.8);
}
#contactRegion {
	width: 70%;
	padding: 2% 8.5%;
	padding-top: 0%;
	margin-bottom: 2%;
	background-color: rgba(52, 50, 50, 0.99);
	border: 6px ridge #cdcbcb;
	border-radius: 35px;
}
#tablet {
	background-image: url("../img/tablet.png");
	width: 85%;
	background-size: cover;
}
#tabletRegion {
	padding: 10% 2%;
	width: 80%;
}
#form {
	width: 50%;
	padding-top: 30px;
	color: #cdcbcb;
}
#map {
	width: 50%;
	filter: saturate(0.3);
	-webkit-filter: saturate(0.3);
}
iframe {
	width: 430px;
	height: 430px;
	border: 0;
	border-radius: 20px;
}
th {
	font-size: 24px;
	font-weight: 500;
}
td {
	font-size: 16px;
}
input[type="text"] {
	width: 240px;
	padding: 2%;
	margin-bottom: 6px;
	font-size: 16px;
	background-color: #cdcbcb;
	color: #3E3C3D;
	border-radius: 3px;
	border: 2px solid #cdcbcb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
input[type="email"] {
	width: 240px;
	padding: 2%;
	margin-bottom: 6px;
	font-size: 16px;
	background-color: #cdcbcb;
	color: #3E3C3D;
	border-radius: 3px;
	border: 2px solid #cdcbcb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	margin-bottom: 20px;
}
textarea {
	width: 240px;
	padding: 2%;
	margin-bottom: 6px;
	font-size: 16px;
	background-color: #cdcbcb;
	color: #3E3C3D;
	border-radius: 3px;
	border: 2px solid #cdcbcb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	resize: none;
	height: 120px;
	margin-top: 22px;
}
input[type="radio"] {
	filter: saturate(0);
	-webkit-filter: saturate(0);
	margin-top: 7px;
}
input[type="checkbox"] {
	-webkit-filter: saturate(0);
	filter: saturate(0);
}
.buttons {
	width: 70px;
	height: 30px;
	font-size: 16px;
	color: #3E3C3D;
	margin-top: 13px;
	transition: 0.3s;
	border: 2px solid #494647;
	border-radius: 8px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	&:hover {
		background-color: #3E3C3D;
		color: #cdcbcb;
		border: 2px solid #cdcbcb;
	}
}
footer {
	width: 60%;
	height: 120px;
	padding: 0% 20%;
	padding-bottom: 20px;
	padding-top: 15px;
	background-color: #3E3C3D;
	a {
		color: #cdcbcb;
		font-size: 22px;
	}
	h3 {
		color: #cdcbcb;
		margin-bottom: 2px;
		font-size: 28px;
	}
	p {
		color: #cdcbcb;
		font-size: 22px;
	}
}
#social {
	width: 30%;
}
.socialBlock {
	width: 45px;
	height: 45px;
	background-color: #343232;
	margin-left: 8px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	i {
		font-size: 30px;
		-webkit-transition: .3s;
		transition: .3s;
	}
}
.fa-sitemap {
	font-size: 26px;
	&:hover {
		font-size: 22px;
		color: #8E0019;
	}
}
.fa-github-square {
	&:hover {
		color: #8E0019;
		font-size: 26px;
	}
}
.fa-linkedin {
	&:hover {
		color: #8E0019;
		font-size: 26px;
	}
}
.fa-reddit-square {
	&:hover {
		color: #8E0019;
		font-size: 26px;
	}
}
#files {
	width: 30%;
	article {
		a {
			-webkit-transition: .3s;
			transition: .3s;
			&:hover {
				color: #8E0019;
			}
		}
	}
}
a.socialBlock {
	&:hover {
		background-color: #8E0019;
	}
}
